[Desktop Entry]
Version=1.0
Type=Application
Name=JetBrains RubyMine
Exec="/usr/local/bin/rubymine" %f
Icon=/usr/local/RubyMine/bin/RMlogo.svg
Comment=Develop with pleasure!
Categories=Development;IDE;
Terminal=false
StartupNotify=true
StartupWMClass=jetbrains-rubymine
OnlyShowIn=Old;
